@model IEnumerable<Company>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <a class="btn btn-success" asp-action="AddRecords">Add Test Records</a>
</div>

@foreach (var item in Model)
{
        <h1>@item.Name</h1>
         <table class="table">
                    <thead>
                        <tr>Name</tr>
                        <tr>Email</tr>
                        <tr>Phone</tr>
                        <tr>Title</tr>
                    </thead>
                    <tbody>
            @foreach (var employee in item.Employees)
            {
                               <tr>
                                   <td>@employee.Name</td>
                                   <td>@employee.Email</td>
                                   <td>@employee.Phone</td>
                                   <td>@employee.Title</td>
                               </tr>
            }
                    </tbody>
                </table>
}
