@model IEnumerable<Company>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <a class="btn btn-success" asp-action="AddRecords">Add Test Record</a>    
</div>
<br />
<form class="form-inline" method="get">
        <input type="search" placeholder="Enter Name ..." name="search" class="form-control"/>
        <input type="submit" value="search" class="btn btn-info"/>
</form>

@foreach (var item in Model)
{
        <h1>@item.Name <a class="btn btn-success" asp-action="RemoveRecords" asp-route-id="@item.CompanyId">Remove</a></h1>
         <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                           <th>Email</th>
                           <th>Phone</th>
                           <th>Title</th>
                        </tr>

                    </thead>
                    <tbody>
            @foreach (var employee in item.Employees)
            {
                               <tr>
                                   <td>@employee.Name</td>
                                   <td>@employee.Email</td>
                                   <td>@employee.Phone</td>
                                   <td>@employee.Title</td>
                               </tr>
            }
                    </tbody>
                </table>
}
